{% extends 'adminbase.html.twig' %}

{% block body_id %}

{% endblock %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            {{ form_start(edit_form) }}
            <fieldset>
                <legend>Edit Category</legend>
                {{ form_widget(edit_form)  }}
                <div class="col-sm-4 col-sm-offset-4">
                    <a class="btn btn-default" href="{{ path('webstore_index') }}">Cancel</a>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </fieldset>
            {{ form_end(edit_form) }}
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('category_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

