{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
    <div class="row">
<div class="container col-sm-4">
    <div class="well">
    <table>
        <tr>
            <th>Email:</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Cash:</th>
            <td>{{ user.cash }}</td>
        </tr>
        <tr>
            <th>Address:</th>
            <td>{{ user.address }}</td>
        </tr>
        <tr>
            <th>Telephone:</th>
            <td>{{ user.telephone }}</td>
        </tr>
        <tr>
            <th>City:</th>
            <td>{{ user.city }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="{{ path('user_edit') }}">Edit</a>
                <a href="{{ path('user_change_password') }}">Change Password</a>
            </td>
        </tr>
    </table>
    </div>
</div>

<div class="container col-sm-8">
        <div class="well">
            <h2>Bought products</h2>

                <table>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                    </tr>
                {% for order in completeOrders %}
                    <tr>
                        <td>{{ order.product.getName }}</td>
                        <td>{{ order.product.getPrice }}</td>
                        <td><a href="{{ path('user_sell_product', {'id': order.id}) }}">Sell product</a></td>
                    </tr>
                {% endfor %}
                </table>
        </div>

    <div class="well">
        <h2>Products in shop</h2>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                {% for product in productsInShop %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price}}</td>
                </tr>
                {% endfor %}
            </table>

    </div>


    <div class="well">
        <h2>Sold products</h2>
        {% for product in soldProducts %}
            <table>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price}}</td>
                </tr>
            </table>
        {% endfor %}
    </div>
</div>
    </div>
{% endblock %}
