{% extends 'base.html.twig' %}

{% block body_id %}

{% endblock %}

{% block main %}
<div class="container body-content span=8 offset=2">
    <div class="well">
            <fieldset>
                <legend>Products</legend>
                <table class="table table-striped table-hover text-center" >
                    <thead >
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td><a href="{{ path('product_view', {'id': product.id}) }}">{{ product.name|slice(0,30) }}</a></td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description|slice(0,70) }}</td>
                        <td>
                            <form action="{{ path('product_delete_process', {'id': product.id}) }}", method="post">
                                <a href="{{ path('product_reviews', {'id': product.id}) }} " class="btn btn-primary btn-sm">View Reviews</a>
                                <a href="{{ path('product_edit_form', {'id': product.id}) }} " class="btn btn-primary btn-sm">Edit</a>
                                <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
    </div>
</div>
{% endblock %}

