{% extends 'base.html.twig' %}

{% block body_id %}

{% endblock %}

{% block main %}
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        {% for category in categories %}
                        <div>
                            <a href="{{  path('products_category_list', {'id': category.id}) }}"><img src="{{ asset('uploads/' ~category.image) }}" alt=""></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img src="{{ asset('uploads/'~product.image)}}" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{ product.name }}</h2>
                                    <div class="product-inner-price">
                                        {% if product.discount is null %}
                                            <ins>{{ product.price }}</ins>
                                        {% else %}
                                            <ins>{{ product.discount }}</ins>
                                            <del>{{ product.price }}</del>
                                        {% endif %}
                                    </div>

                                    <form action="{{ path('add_to_cart', {'id': product.id}) }}" class="cart">
                                        <div class="quantity">
                                            <input type="number" size="4" class="input-text qty text" title="Qty"
                                                   value="1" name="productQuantity" min="1" step="1">
                                        </div>
                                        <button class="add_to_cart_button" type="submit">Add to cart</button>
                                    </form>

                                    <div class="product-inner-category">
                                        <p>Category: <a href="{{  path('products_category_list', {'id': product.category.id}) }}">{{ product.category }}</a>. Tags: <a href="">awesome</a>, <a href="">best</a>,
                                            <a href="">sale</a>, <a href="">shoes</a>. </p>
                                    </div>
                            </div>
                        </div>
                    </div>
                        <div role="tabpanel">
                            <ul class="product-tab" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home"
                                                                          role="tab" data-toggle="tab">Description</a>
                                </li>
                                <li role="presentation"><a href="#profile" aria-controls="profile"
                                                           role="tab" data-toggle="tab">Reviews</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home">
                                    <h2>Product Description</h2>
                                    <p>{{ product.description }}</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="profile">
                                    <h2>Reviews</h2>
                                    <div class="submit-review">
                                        <p><label for="name">Name</label> <input name="name" type="text">
                                        </p>
                                        <p><label for="email">Email</label> <input name="email"
                                                                                   type="email"></p>
                                        <div class="rating-chooser">
                                            <p>Your rating</p>

                                            <div class="rating-wrap-post">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <p><label for="review">Your review</label> <textarea name="review"
                                                                                             id="" cols="30"
                                                                                             rows="10"></textarea>
                                        </p>
                                        <p><input type="submit" value="Submit"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

