{% extends 'adminbase.html.twig' %}

{% block body_id %}

{% endblock %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <fieldset>
                <legend>
                    Discounts
                    <a href="{{ path('create_general_discount') }}" style="float: right;">Create</a>
                </legend>
                <table class="table table-striped table-hover text-center" >
                    <thead >
                    <tr>
                        <th class="text-center">startDate</th>
                        <th class="text-center">EndDate</th>
                        <th class="text-center">Discount</th>
                        <th class="text-center">Cash</th>
                        <th class="text-center">Category</th>
                        <th class="text-center">Products</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for discount in pagination %}
                        <tr>
                            <td>{{ discount.startDate|date('Y-m-d') }}</td>
                            <td>{{ discount.endDate|date('Y-m-d') }}</td>
                            <td>{{ discount.discount }}</td>
                            <td>{{ discount.cash }}</td>
                            <td>{{ discount.category }}</td>
                           <td>
                              <select>
                                {% for product in discount.products %}
                                    <option> {{ product.name }} </option>
                                {% endfor  %}
                              </select>
                           </td>
                            <td>
                                <a href="{{ path('discount_edit', {'id': discount.id}) }}">Edit</a>
                            </td>
                        {% endfor  %}
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
{% endblock %}