{% extends 'adminBase.html.twig' %}

{% block body_id 'profile' %}

{% block mainmenu %}
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('shop_index') }}">Home</a></li>
                        <li><a href="{{ path('products_list') }}">My orders</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="{{ path('user_edit') }}">Edit Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block main %}
    <div class="container col-sm-6">
        <div class="well">
            <strong>Username: </strong>{{ user.username }}
            <br>
            <strong>Email: </strong>  {{ user.email }}
            <br>
            <strong>Address: </strong>{{ user.address }}
            <br>
            <strong>Telephone: </strong> {{ user.telephone }}
            <br>
            <strong>Cash: </strong> {{ user.cash }}
            <br>
            <strong>City: </strong>  {{ user.city }}
        </div>
    </div>
    <div class="container col-sm-6">
        <div class="well">
            <strong>All orders: </strong> 25
            <br>
            <strong>Successful orders: </strong>  22
            <br>
            <strong>In progress: </strong> 2
            <br>
            <strong>Canceled orders: </strong> 1
        </div>
    </div>
{% endblock %}
